<div>
  <h2 id="page-heading" data-cy="PronounceHeading">
    <span>Pronounces</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pronounce"
        [routerLink]="['/pronounce/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Pronounce </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pronounces?.length === 0">
    <span>No pronounces found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pronounces && pronounces.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="employeeId"><span>Employee Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="firstName"><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastName"><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="preferredName"><span>Preferred Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="phonetics"><span>Phonetics</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="country"><span>Country</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="language"><span>Language</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pronoun"><span>Pronoun</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pronunciation"><span>Pronunciation</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdUser"><span>Created User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="updatedUser"><span>Updated User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="updatedDate"><span>Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isActive"><span>Is Active</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pronounce of pronounces; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pronounce', pronounce.id, 'view']">{{ pronounce.id }}</a>
          </td>
          <td>{{ pronounce.employeeId }}</td>
          <td>{{ pronounce.firstName }}</td>
          <td>{{ pronounce.lastName }}</td>
          <td>{{ pronounce.preferredName }}</td>
          <td>{{ pronounce.phonetics }}</td>
          <td>{{ pronounce.country }}</td>
          <td>{{ pronounce.language }}</td>
          <td>{{ pronounce.pronoun }}</td>
          <td>
            <a *ngIf="pronounce.pronunciation" (click)="openFile(pronounce.pronunciation, pronounce.pronunciationContentType)">open</a>
            <span *ngIf="pronounce.pronunciation">{{ pronounce.pronunciationContentType }}, {{ byteSize(pronounce.pronunciation) }}</span>
          </td>
          <td>{{ pronounce.createdUser }}</td>
          <td>{{ pronounce.createdDate | formatMediumDatetime }}</td>
          <td>{{ pronounce.updatedUser }}</td>
          <td>{{ pronounce.updatedDate | formatMediumDatetime }}</td>
          <td>{{ pronounce.isActive }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pronounce', pronounce.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/pronounce', pronounce.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(pronounce)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pronounces && pronounces.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
